# ---- Python & Streamlit Ignore Rules ----

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/
inv_env1/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Streamlit
.streamlit/secrets.toml